#back{
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s ;
}
#back:hover{
    color: #1976d2;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 6px;
}
#title{
    margin-left: 20px;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
}
#head{
    position: relative;
    left: 400px;
    margin-top: -10px;
    font-size: 25px;
    font-weight: bold;
}
#card{
    position: absolute;
    height: 650px;
    width: 1400px;
    left: 100px;
    overflow: hidden;
    border: none;
}
.cont{
    width: 800px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 600px;
    overflow-y: auto;
}
.products{
    width: 750px;
    margin-left: 20px;
    margin-top: 20px;
    height: 150px;
    border: 1px solid black;
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.products img{
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 20px;
   width: 400px;
   height: 400px;
}
.products h2{
    font-weight: bold;
    font-size: 25px;
    margin-left: 150px;
    margin-top: -20px;
}
.products h3{
    margin-left:150px ;
    margin-top: 5px;
}
.products h4{
    font-size: 25px;
}
.products h5{
    margin-left: 150px;
    margin-top: 10px;
    font-size: 15px;
}
#remove{
    position: relative;
    left: 530px;
    top: -90px;
}
.amount{
    position: absolute;
    width: 400px;
    height: 350px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    left: 900px;
    top: 130px;
}
.amount h2{
    position: absolute;
    top: 40px; 
    font-size: 35px;
    left: 75px;
}
.calculate h4{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
}
.amount h3{
    position: absolute;
    font-size: 20px;
    top: 225px;
    left: 150px;
}
.calculate{
    position: absolute;
    top: 110px;
    left: 50px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 100px;
}
#proceed{
    position: absolute;
    top: 270px;
    left: 140px;
}
#quantity{
    position: relative;
    left: 540px;
    top: -100px;
    font-size: 30px;
}
#quantity h4{
    margin-top: -230px;
}
