.box{
    display: grid;
    margin-top: 100px;
   justify-content: center;
}
#card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#back{
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s ;
}
#back:hover{
    color: #1976d2;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 6px;
}
#title{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
}
#upload-head{
    margin-left: 350px;
    margin-top: 10px;
    font-weight: bold;
}
/* #upload-img{
    margin-top: 30px;
    margin-left:300px;
} */
.product-con{
    display: grid;
    place-content: center;
    gap: 20px;
    min-height: 520px;
}
.card{
    height: 550px;
}
 #upload{
    margin:auto;
} 
.member{
    width: 700px;
}